<!DOCTYPE html>
<html>
  <head>
    <script src="https://bitbucket.org/atlassian-connect/all.js"></script>
    <script src="./js/bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.css"/>
  </head>
  <body>
    <div ng-app="projectProgress" ng-controller="listProjectsCtrl">
	<h2>{{ title }}</h2>
          <table style="width:100%" class="aui" >
          <thead>
          <tr><th colspan="4"><h4>{{ group.display_name }} </h4></th></tr>
          <tr>
            <th rowspan="2">Status/Area</th><th rowspan="2">Project/App - Description</th><th colspan="2">Issues</th>
          </tr><tr>
            <th>Unresolved</th><th>Recent (30 days)</th>
          </tr>
          </thead>

        <tbody ng-repeat="group in projects1 track by $index" ng-hide="project_repos[group.username].length==0">

          <tr><th colspan="4"><h4>{{ group.display_name }} </h4></th></tr>
          <!--<table style="width:100%" class="aui" ng-hide="project_repos[group.username].length==0">-->
          <tr ng-repeat="repo in project_repos[group.username] track by $index" class="iterable-item">
            <td>( {{ repo.project.name }} )</td> 
	    <td><a target="_top" href='https://bitbucket.org/{{ group.username }}/{{ repo.slug }}/issues?status=new&status=open'>{{ repo.name }} - {{ repo.description }}  </a></td>
            <td>( {{ issues[repo.slug]  }} )</td>
            <td> {{ issues_latest[repo.slug] }} </td> 
          </tr>
          <!--</table>-->
        </tbody>
	</table>
    </div>
    <script>
	var app = angular.module('projectProgress', []);
	app.controller('listProjectsCtrl', ['$scope', 'PPservice', function($scope,PPservice){
	  $scope.title = "Project progress"
          $scope.projects1 = []
          $scope.project_repos={}
          $scope.issues = {}
          $scope.issues_latest ={}
          $scope.commits ={}
	  //gather projects
          PPservice.getGroups().then(function(response){
	    $scope.projects1=response
            // tried $scope.$watch -> sees change but nothing in array?
            $scope.getRepos()
	  })
          //$scope.$watch('projects', function(){
          $scope.getRepos = function(){
	    $scope.projects1.forEach(function(group){
	      PPservice.getRepos(group.username).then(function(response){
                $scope.project_repos[group.username]=response // objects
                $scope.project_repos[group.username].forEach(function(myrepo){
                  if (myrepo.has_issues){
		    $scope.getIssues(group.username,myrepo.slug)
		    $scope.getIssuesLatest(group.username,myrepo.slug,30)
                    //
                    $scope.getCommits(group.username,myrepo.slug)
                  }else{
                    $scope.issues[myrepo.name]="N/A"
                    $scope.issues_latest[myrepo.name]="N/A"
		  }
		})
              })
	    })
	  }
          //gather issues (total)
          $scope.getIssues = function(groupname,myrepo){
	    PPservice.getIssues(groupname,myrepo).then(function(response){
	      $scope.issues[myrepo]=response;
	    })
          }
          $scope.getIssuesLatest = function(groupname,myrepo,days){
	    PPservice.getIssues(groupname,myrepo,days).then(function(response){
	      $scope.issues_latest[myrepo]=response;
	    })
          }
          //gather commits (total)
          $scope.getCommits = function(groupname,myrepo){
	    PPservice.getCommits(groupname,myrepo).then(function(response){
	      $scope.commits[myrepo]=response;
	    })
          }

          //})
          //gather repos
	    // if parent name 'identified' then highlight as new
          //gather issues (this month)
          //gather commits (total)
          //gather commits (this month0

	}]);
        app.service('PPservice', ['$q', function( $q ){
          // Project Progress service
          // Note there is a dependancy on AP
          // Notes on filtering can be found here: https://bitbucket.org/snippets/evzijst/nRdAa/api-filtering 
          
          // TODO: we need to refactor these out of the code as they appear global and if reused elsewhere will induce bugs!
	  teams1=[]
	  retrepos={}
 
          // defined so that we can recursively call 
          function getMyGroups(url){
              //All projects this user has access to
              //teams1=[]
	      var defer = $q.defer();
              var url = (url) ? url : '/2.0/teams?role=member';
              
              AP.require("request", function(request) {
	        request({
		  url: url,
		  success: function(data){
		    data.values.forEach(function (file){
		      teams1.push(file)
		    })
                    if (data.next){
			defer.resolve(getMyGroups(data.next)) 
		    }else{
                        defer.resolve(teams1);// overrites the list (hopefully) but we get a flicker??
		   }
                  }
                })
              })
              return defer.promise;
	  };

          function getRepos(project,url){
              // retrieve all the repos (work packages for our groups (project)
              var defer = $q.defer();
              retrepos[project] = (retrepos[project]) ? retrepos[project] : {'values':[]};
              retrepos[project]['url'] = (url) ? url : '/2.0/repositories/'+project;
              AP.require("request", function(request){
                request({
                  url: retrepos[project]['url'],
                  success: function(data1){
                    data1.values.forEach(function (repo){
                      retrepos[project]['values'].push(repo)
                    })
                        defer.resolve(retrepos[project]['values']);// overwrites the list (hopefully) but we get a flicker??
                  }
                })
              })
              return defer.promise;
            }

           return {
            'getGroups' : getMyGroups,
            'getRepos' : getRepos,
            'getIssues' : function(groupname,repo,offset){
              // retrieve new and open issue for our packages
              // which we created within offset days (if offset defined)
              //
              var created_on=""
              if ( offset ){
                var created = new Date();
                created.setDate(created.getDate() - offset);
		created_on="created_on>\""+created.toISOString()+"\"&"
              } 
              repos=[]
	      var defer = $q.defer();
	      AP.require("request", function(request){
	        request({
                  // for some reason filtering on created_on after issues doesn't seem to work
	          url: '/2.0/repositories/'+groupname+'/'+repo+'/issues?q='+created_on+'(state="new" or state="open")',
		  success: function(data1){
                    defer.resolve(data1.size)	   
                  }
	        })
              })
              return defer.promise;
	    },
            'getCommits' : function(groupslug,reposlug){
	      var defer = $q.defer();
	      AP.require("request",function(request){
	        request({
		
	          url: '/2.0/repositories/'+groupslug+'/'+reposlug+'/commits',
                  success: function(data1){
                    defer.resolve(data1)
                  }
		})
	      })
              return defer.promise;
            }

          }
        }])
    </script>


  </body>
</html>
